.Accueilbody{
    text-align: center;
}
.Text{
    text-align: left;
}

.AccueilTitle{
    text-align: left;
    margin-left: 20px;
}
.AccueilText{
    margin-top: 40px;
    margin-left: 20px;
    text-align: left
}

