/* Controleur global */
.navbar{
    background-color: #358597;
    width: 230px;
    height: 42px;
    border-radius: 15px;
    margin-left: auto;
}
/* la navBar */
.navBody{
    display: flex;
    align-items: right;
}
/* ses enfants */ 
.navItems{
    width: 75px;
    height: 45px;
    margin-top: 11px;
    text-decoration: none;
    text-align: center;
}

