/* Controleur global */

.navbar{
    background-color: aqua;
    width: 200px;
    height: 45px;
    border-radius: 25px;
}
/* la navBar */
.navBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* ses enfants */ 
.navItems{
    width: 75px;
    height: 45px;
    margin-top: 11px;
    text-decoration: none;
    text-align: center;
}

